<div class="navbar container fw short home15">
  <a class="v-center" href="/">Playlist Generator</a>
</div>
<div class="container home25">
  <div class="v-center center">
    <h1>Playlist Generator</h1>
    <h3>Login with either Apple Music or Spotify</h3>
  </div>
</div>
<div class="container fw halves home home60">
  <div class="half apple">
    <a href="/appleLogin">
      <span class="v-center">
        <img height="140" src="/assets/Apple_Music_Icon_wht.svg"/>
      </span>
    </a>
  </div>
  <div class="half spotify">
    <a href="/spotifyLogin">
      <span class="v-center">
        <img src="/assets/Spotify_Logo_RGB_White.png"/>
      </span>
    </a>
  </div>
</div>