$spotifyPrimary: #1DB954;
$spotifySecondary:#191414;
$applePrimary:#92278F;
$appleSecondary:#BBBBBB;
$universalPadding: 20px;
$errorRed: #cc0000;
$blue: #2979FF;

body{
    font-size:16px;
    margin:0;
    padding:0;
    * {
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        transition: .2s;
    }
    .hidden{
        display: none;
    }
    .loader{
        z-index:10;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,.8);
        background-image:url('/assets/loading.gif');
        background-position: center;
        background-size:50px;
        background-repeat: no-repeat;
    }
    .navbar {
        background: #191414;
        text-align: center;
        &.search-active{
            position: fixed;
            top:0;
            z-index:9;
        }
        a {
            color: #fff;
            padding: 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 45px;
        }
        &.spotify{
            background:$spotifyPrimary;
        }
        &.container{
            a{
                font-size: 45px;
            }
        }
    }
    h1 {
        font-size: 65px;
        color: #191414;
    }

    h2 {
        font-size: 45px;
        color: #191414;
    }

    h3 {
        font-size: 30px;
        color: #191414;
        &.header{
            background:$blue;
            margin: 0;
            padding: 20px;
            color:#fff;
            text-align: center;
        }
    }
    .v-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .half .v-center {
        top: 35%;
    }

    .center {
        text-align: center;
    }
    
    .container {
        max-width: 100%;
        width: 1200px;
        margin: 0 auto;
        height: 30vh;
        &.home{
            &.fw{
                height:70vh;
            }
        }
        &.white-bg{
            background:#fff;
        }
        &.fw {
            width: 100%;
            &.halves{
                font-size: 0;
            }
            height: auto;
            font-size:16px;
        }
        &.fw.short {
            height: auto;
        }
        &.sm {
            width: 650px;
        }
    }
    .half{
        vertical-align: top;
        display: inline-block;
        width: 50%;
        height: 100%;
        text-align: center;
        h3{
            margin:0;
            padding:$universalPadding;
            &.header{
                background:$spotifyPrimary;
                color:#fff;
                &.inverse{
                    background:$errorRed
                }
            }
        }
        a{
            display: inline-block;
            padding: 40px;
            width: 100%;
            height: 100%;
        }
        &.spotify {
            background-color: #1DB954;
            &:hover {
                background-color: #191414;
                transition: .2s;
            }
        }

        &.apple {
            background-color: #92278F;
            &:hover {
                background-color: #BBBBBB;    
            }
        }
    }
    .search{
        background:#fff;
        width:100%;
        height:150px;
        margin:0 auto;
        position: relative;
        &.search-active{
            position: fixed;
            top:101px;
            left:0;
            right:0;
            margin:auto;
            z-index:9;
        }
        mat-icon{
            position: absolute;
            left: 20%;
            top:40px;
            width:2rem;
            bottom:0;
            height:2rem;
            margin:auto;
            font-size:2rem;
            &:hover{
                cursor:pointer;
            }
        }
        > *{
            position: relative;
            top:50%;
            transform:translateY(-50%);
            width:55%;
            font-size:1.5rem;
            line-height: 1.5rem;
        }
    }
    .search-results-wrapper{
        width:100%;
        margin-top:170px;
        h3{
            max-width:1200px;
            margin:1em auto;
        }
        .search-results{
            position: relative;
            padding:$universalPadding;
            column-count: 6;
            column-gap: 1em;
            min-height:50vh;
            .result{
                display: inline-block;
                font-size:16px;
                width:100%;
                margin-right: 1em;
                margin-bottom: 1em;
                vertical-align: top;
                &:nth-of-type(4n+4), &:last-of-type{
                    margin-right: 0;
                }
                .mat-card-actions{
                    button{
                        width:29%;
                        min-width: 0;
                    }
                }
            }
        }
    }
    .modal{
        height:100%;
        .mat-card-header{
            .mat-card-header-text{
                display: none!important;
            }
        }
        .halves{
            font-size:0;
            > div{
                vertical-align: top;
                font-size:16px;
                display: inline-block;
                width:40%;
                text-align: right;
                &:first-of-type{
                    text-align: left;
                    width:60%;
                }
                p{
                    text-align: left;
                    width:90%;
                    margin: 0 0 0 auto;
                }
            }
        }
        .mat-card-title{
            font-size:2em;
            display: inline-block;
            width:75%;
        }
        .mat-card-subtitle{
            font-size:1.5em;
            display: inline-block;
            width:20%;
        }
        .mat-card-image{
            max-width: 90%;
            margin-right:0;
        }
        .mat-slider{
            width:90%;
        }
        .mat-card-actions{
            button{
                width:48%;
                display: inline-block;
            }
        }
        .mat-card-actions{
            max-width: 90%;
            margin: 0 0 0 auto;
        }
        .model-result-container{
            max-height: 600px;
            overflow-y:scroll;
            overflow-x:hidden;
        }
        .modal-item-result{
            border-bottom:1px solid $spotifyPrimary;
            padding:20px 10px;
            position: relative;
            img{
                max-width:120px;
            }
           .load-more{
               margin:10px auto;
               display: block;
           }
            &.open{
                .result-listings{
                    height:auto;
                    padding:$universalPadding 0;
                }
            }
            .result-listings{
                height:0;
                width:100%;
                overflow:hidden;
                padding: 0;
                div{
                    h5{
                        font-size:1.1rem;
                        display: inline-block;
                        width:70%;
                        font-weight: 300;
                        margin:5px 0;
                        border-bottom:1px solid $spotifyPrimary;
                    }
                }
            }
            > div{
                display: inline-block;
                vertical-align: top;
                width:70%;
                padding-left:$universalPadding;
                h3{
                    font-size: 1.2rem;
                    display: inline-block;
                    width:80%;
                }
                >span{
                    display: inline-block;
                    width:50%;
                }
                .mat-checkbox{
                    display: inline-block;
                    width:15%;
                    vertical-align: top;
                }
            }
        }
    }
    .cdk-overlay-pane{
        margin-bottom:50px!important;
        
    }
    .mat-snack-bar-container{
        background:#fff;
        border:1px solid $spotifySecondary;
        .mat-simple-snackbar{
            color:$spotifySecondary;
        }
        .mat-simple-snackbar-action{
            color:$spotifyPrimary;
        }
    }
    .parameter-results{
        position: relative;
        margin:$universalPadding;
        font-size:0;
        text-align: left;
        border-bottom:1px solid $spotifySecondary;
        &.closed{
            h2{
                &:after{
                    content:"arrow_drop_down";
                }
            }
            .result{
                display: none;
                height:0;
                overflow: hidden;
            }
        }
        h2{
            text-align: left;
            font-size:1.4rem;
            padding-bottom:15px;
            position: relative;
            &:hover{
                cursor:pointer;
            }
            &:after{
                content:"arrow_drop_up";
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                position: absolute;
                top:0;
                bottom:16px;
                right:0;
                height:16px;
                margin:auto;
            }
        }
        .result{
            height:auto;
            font-size:16px;
            vertical-align: top;
            display: inline-block;
            width:31%;
            margin-right: 1%;
            margin-bottom:1%;
            &:nth-of-type(3n+3){
                margin-right: 0;
            }
        }
    }
    .mat-card-actions{
        text-align: center;
    }
}
.scrollbar {
	margin-left: 22px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #1DB954;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}