body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body * {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .2s;
}

body .hidden {
  display: none;
}

body .loader {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  background-image: url("/assets/loading.gif");
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

body .navbar {
  background: #191414;
  text-align: center;
}

body .navbar.search-active {
  position: fixed;
  top: 0;
  z-index: 9;
}

body .navbar a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
}

body .navbar.spotify {
  background: #1DB954;
}

body .navbar.container a {
  font-size: 45px;
}

body h1 {
  font-size: 65px;
  color: #191414;
}

body h2 {
  font-size: 45px;
  color: #191414;
}

body h3 {
  font-size: 30px;
  color: #191414;
}

body .v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body .half .v-center {
  top: 35%;
}

body .center {
  text-align: center;
}

body .container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  height: 30vh;
}

body .container.white-bg {
  background: #fff;
}

body .container.fw {
  width: 100%;
  height: 70vh;
  font-size: 16px;
}

body .container.fw.halves {
  font-size: 0;
}

body .container.fw.short {
  height: auto;
}

body .container.sm {
  width: 650px;
}

body .half {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
}

body .half h3 {
  margin: 0;
  padding: 20px;
}

body .half h3.header {
  background: #1DB954;
  color: #fff;
}

body .half h3.header.inverse {
  background: #cc0000;
}

body .half a {
  display: inline-block;
  padding: 40px;
  width: 100%;
  height: 100%;
}

body .half.spotify {
  background-color: #1DB954;
}

body .half.spotify:hover {
  background-color: #191414;
  transition: .2s;
}

body .half.apple {
  background-color: #92278F;
}

body .half.apple:hover {
  background-color: #BBBBBB;
}

body .search {
  background: #fff;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

body .search.search-active {
  position: fixed;
  top: 101px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}

body .search mat-icon {
  position: absolute;
  left: 20%;
  top: 40px;
  width: 2rem;
  bottom: 0;
  height: 2rem;
  margin: auto;
  font-size: 2rem;
}

body .search mat-icon:hover {
  cursor: pointer;
}

body .search > * {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 55%;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

body .search-results-wrapper {
  width: 100%;
  margin-top: 250px;
}

body .search-results-wrapper h3 {
  max-width: 1200px;
  margin: 1em auto;
}

body .search-results-wrapper .search-results {
  position: relative;
  padding: 20px;
  column-count: 6;
  column-gap: 1em;
  min-height: 50vh;
}

body .search-results-wrapper .search-results .result {
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin-right: 1em;
  margin-bottom: 1em;
  vertical-align: top;
}

body .search-results-wrapper .search-results .result:nth-of-type(4n+4), body .search-results-wrapper .search-results .result:last-of-type {
  margin-right: 0;
}

body .search-results-wrapper .search-results .result .mat-card-actions button {
  width: 29%;
  min-width: 0;
}

body .modal {
  height: 100%;
}

body .modal .mat-card-header .mat-card-header-text {
  display: none !important;
}

body .modal .halves {
  font-size: 0;
}

body .modal .halves > div {
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  width: 40%;
  text-align: right;
}

body .modal .halves > div:first-of-type {
  text-align: left;
  width: 60%;
}

body .modal .halves > div p {
  text-align: left;
  width: 90%;
  margin: 0 0 0 auto;
}

body .modal .mat-card-title {
  font-size: 2em;
}

body .modal .mat-card-subtitle {
  font-size: 1.5em;
}

body .modal .mat-card-image {
  max-width: 90%;
  margin-right: 0;
}

body .modal .mat-slider {
  width: 90%;
}

body .modal .mat-card-actions button {
  width: 48%;
  display: inline-block;
}

body .modal .mat-card-actions {
  max-width: 90%;
  margin: 0 0 0 auto;
}

body .modal .model-result-container {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body .modal .modal-item-result {
  border-bottom: 1px solid #1DB954;
  padding: 20px 10px;
  position: relative;
}

body .modal .modal-item-result img {
  max-width: 120px;
}

body .modal .modal-item-result .load-more {
  margin: 10px auto;
  display: block;
}

body .modal .modal-item-result.open .result-listings {
  height: auto;
  padding: 20px 0;
}

body .modal .modal-item-result .result-listings {
  height: 0;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

body .modal .modal-item-result .result-listings div h5 {
  font-size: 1.1rem;
  display: inline-block;
  width: 70%;
  font-weight: 300;
  margin: 5px 0;
  border-bottom: 1px solid #1DB954;
}

body .modal .modal-item-result > div {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  padding-left: 20px;
}

body .modal .modal-item-result > div h3 {
  font-size: 1.2rem;
  display: inline-block;
  width: 80%;
}

body .modal .modal-item-result > div > span {
  display: inline-block;
  width: 50%;
}

body .modal .modal-item-result > div .mat-checkbox {
  display: inline-block;
  width: 15%;
  vertical-align: top;
}
 

 /*# sourceMappingURL= layout.css.map */