$spotifyPrimary: #1DB954;
$spotifySecondary:#191414;
$applePrimary:#92278F;
$appleSecondary:#BBBBBB;
$universalPadding: 20px;

body{
    font-size:16px;
    margin:0;
    padding:0;
    * {
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        transition: .2s;
    }
    .loader{
        z-index:10;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,.8);
        background-image:url('/assets/loading.gif');
        background-position: center;
        background-size:50px;
        background-repeat: no-repeat;
    }
    .navbar {
        background: #191414;
        text-align: center;
        &.search-active{
            position: fixed;
            top:0;
            z-index:9;
        }
        a {
            color: #fff;
            padding: 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 45px;
        }
        &.spotify{
            background:$spotifyPrimary;
        }
        &.container{
            a{
                font-size: 45px;
            }
        }
    }
    h1 {
        font-size: 65px;
        color: #191414;
    }

    h2 {
        font-size: 45px;
        color: #191414;
    }

    h3 {
        font-size: 30px;
        color: #191414;
    }
    .v-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .half .v-center {
        top: 35%;
    }

    .center {
        text-align: center;
    }
    
    .container {
        max-width: 100%;
        width: 1200px;
        margin: 0 auto;
        height: 30vh;
        &.white-bg{
            background:#fff;
        }
        &.fw {
            width: 100%;
            &.halves{
                font-size: 0;
            }
            height: 70vh;
            font-size:16px;
        }
        &.fw.short {
            height: auto;
        }
        &.sm {
            width: 650px;
        }
    }
    .half{
        vertical-align: top;
        display: inline-block;
        width: 50%;
        height: 100%;
        text-align: center;
        a{
            display: inline-block;
            padding: 40px;
            width: 100%;
            height: 100%;
        }
        &.spotify {
            background-color: #1DB954;
            &:hover {
                background-color: #191414;
                transition: .2s;
            }
        }

        &.apple {
            background-color: #92278F;
            &:hover {
                background-color: #BBBBBB;    
            }
        }
    }
    .search{
        background:#fff;
        width:100%;
        height:150px;
        margin:0 auto;
        position: relative;
        &.search-active{
            position: fixed;
            top:101px;
            left:0;
            right:0;
            margin:auto;
            z-index:9;
        }
        mat-icon{
            position: absolute;
            left: 20%;
            top:40px;
            width:2rem;
            bottom:0;
            height:2rem;
            margin:auto;
            font-size:2rem;
            &:hover{
                cursor:pointer;
            }
        }
        > *{
            position: relative;
            top:50%;
            transform:translateY(-50%);
            width:55%;
            font-size:1.5rem;
            line-height: 1.5rem;
        }
    }
    .search-results-wrapper{
        margin-top:250px;
        h3{
            margin:1em 0;
        }
        .search-results{
            position: relative;
            padding:$universalPadding;
            column-count: 4;
            column-gap: 1em;
            min-height:50vh;
            .result{
                display: inline-block;
                font-size:16px;
                width:100%;
                margin-right: 1em;
                margin-bottom: 1em;
                vertical-align: top;
                &:nth-of-type(4n+4), &:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }
}