<div class="navbar container fw short">
  <a href="/">Playlist Generator</a>
</div>
<router-outlet></router-outlet>
<!--<div class="container">
  <div class="v-center center">
    <h1>Playlist Generator</h1>
    <h3>Login with either Apple Music or Spotify</h3>
  </div>
</div>
<div class="container fw">
  <div class="half apple">
    <a href="appleLogin">
      <span class="v-center">
        <img height="140" src="/assets/Apple_Music_Icon_wht.svg"/>
      </span>
    </a>
  </div>
  <div class="half spotify">
    <a href="/spotifyLogin">
      <span class="v-center">
        <img src="/assets/Spotify_Logo_RGB_White.png"/>
      </span>
    </a>
  </div>
</div>-->