/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    transition:.2s;
}
.navbar{
    background:#191414;
    text-align: center;
}
.navbar a{
    color:#fff;
    padding:20px;
    text-decoration: none;
    display: inline-block;
    font-size:30px;
}
h1{
    font-size:65px;
    color:#191414;
}
h2{
    font-size:45px;
    color:#191414;
}
h3{
    font-size:30px;
    color:#191414;
}
.container{
    max-width: 100%;
    width:1200px;
    margin:0 auto;
    height:30vh;
}
.container.fw{
    width:100%;
    font-size:0;
    height:70vh;
}
.container.fw.short{
    height: auto;
}
.container.sm{
    width:650px;
}
.v-center{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
.half .v-center{
    top:35%;
}
.center{
    text-align: center;
}

.half{
    vertical-align: top;
    display: inline-block;
    width:50%;
    height:100%;
    text-align: center;
}
.half a{
    display: inline-block;
    padding:40px;
    width:100%;
    height:100%;
}
.spotify{
    background-color:#1DB954;
}
.spotify:hover{
    background-color:#191414;
    transition:.2s;
}
.apple{
    background-color:#BBBBBB;
}
.apple:hover{
    background-color:#92278F;
}
.playlist-generator{
    padding:50px 0;
}
.playlist-generator input{
    border:none;
    border-bottom:3px solid #191414;
    padding:10px;
    font-size:30px;
    width:100%;
}
input:focus{
    outline:none;
}
.playlist-generator-body{
    margin-top:25px;
}
.playlist-generator-item{
    display: block;
    padding:15px;
    border:1px solid #191414;
    border-radius: 6px;
    margin-bottom:10px;
}
.playlist-generator-item h4{
    width:30%;
    display: inline-block;
}
.selected-items{
    display: inline-block;
    width:100%;
    margin:10px 0 0;
}
.selected-items span{
    padding:6px 16px;
    display: inline-block;
    border:1px solid #191414;
    position: relative;
    font-size:14px;
    border-radius:20px;
    margin:10px;
}
.selected-items span:after{
   
}
.selected-items span:hover{
    background:#191414;
    color:#fff;
    cursor: pointer;
}
.playlist-generator-item-content > p{
    margin:10px 0;
}
.playlist-generator-item-content input{
    font-size:16px;
}
.playlist-generator-item-content mat-checkbox{
    width:30%;
    display: inline-block;
}
.mat-checkbox-frame {
    background-color: transparent;
    transition: border-color 90ms cubic-bezier(0,0,.2,.1);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,.54);
}
.playlist-generate-button-wrapper{
    margin-top:25px;
    text-align: center;
}
.playlist-generate-button-wrapper button{
    font-size:16px;
}
.searcher{
    position: relative;
}
.searcher .results{

}
.searcher .results ul{
    list-style: none;
    padding:0;
    margin:0;
    text-align: center;
}
.results ul.loading{
    height:250px;
}
.searcher .results ul li{
    display: inline-block;
    width:30%;
    text-align: center;
    margin:10px;
    position: relative;
    overflow: hidden;
    vertical-align: top;
}
.searcher .results ul li:after{
    display: none;
    background:rgba(255,255,255,.5);
    top:0;
    bottom:0;
    margin:auto;
    left:0;
    position: absolute;
    content:'add';
    width:100%;
    height: 24px;
    padding:250px 0;
    direction: ltr;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.searcher .results ul li:hover{
    cursor: pointer;
}

.searcher .results ul li:hover:after{
    display: inline-block;
}

.searcher .results ul li img,.searcher .results ul li span{
    display: inline-block;
}
.loader{
    z-index:10;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(255,255,255,.8);
    background-image:url('/assets/loading.gif');
    background-position: center;
    background-size:50px;
    background-repeat: no-repeat;
}